body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#UpdateProgress {
    background-color: #DADADA;
    left: 50%;
    top: 40%;
    width: 240px;
    height: 60px;
    margin-top: -30px; /* make this half your image/element height */
    margin-left: -120px; /* make this half your image/element width */
    position: absolute;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: #838383;
    font-weight: bold;
    line-height: 60px;
}