
<div class="coregquestion" style="display: block;">
    <p class="lead question"><strong>@ViewBag.QuestionDisplay</strong></p>

    <div class="row">
        @
        <div class="col-lg-12">
            <div class="radio">
                <label>
                    <input type="radio" name="module_33846" id="module_33846_yes" data-action="yes" data-value="yes" data-attached="coreg-event">
                    Yes
                </label>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="radio">
                <label>
                    <input type="radio" name="module_33846" id="module_33846_no" data-action="no" data-value="no" data-attached="coreg-event">
                    No
                </label>
            </div>
        </div>
    </div>
</div>