
    <div class="alert alert-danger">
        <span style="font-size:small" class="blink">Service outage in area 55, ETA for resolution is 330 PM.</span>
    </div>
    <div class="alert alert-warning">
        <span style="font-size:small"> Some bills were mailed late in the North Region so you may get calls asking why.</span>
    </div>
    <div class="alert alert-success">
        <span style="font-size:small">Remember to sign up for a mandatory training class on the Sizzler Offer before 7-31.</span>
    </div>
    <div class="alert alert-info">
        <span style="font-size:small"> Visit www.getmealpha.com to submit new wiring requests.</span>
    </div>
<style>

    .alert {
  border:1px solid transparent;
  border-radius:4px;
  margin-bottom:5px;
  padding:5px;
}
     
.panel-body {
  padding:5px;
}

.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

</style>



