<div id="TextContainer_@ViewBag.TextID">
      @Html.Raw(ViewBag.Content)
</div>



@*Code for collapsible*@

@*<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">@ViewBag.TextTitle</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">@Html.Raw(ViewBag.Content)</div>
        </div>
    </div>
</div>*@