

@*<table>
    <tbody>
        <tr>
            <td colspan="2" style="font-size: x-small;">
                <b>Call Date:</b> 10/17/2013 1:27:49 PM
            </td>
        </tr>
        <tr>
            <td colspan="2" style="font-size: x-small;">
                <b>Refusal:</b> Customer Doesn't buy over the phone
            </td>
        </tr>
        <tr>
            <td style="font-size: x-small;">
                <b>Int. Provider:</b> Comcast
            </td>
            <td style="font-size: x-small;">
                <b>Contract expires:</b> 23/01/2014
            </td>
        </tr>
        <tr>
            <td style="font-size: x-small;">
                <b>TV Provider:</b> Cox
            </td>
            <td style="font-size: x-small;">
                <b>Contract expires:</b> 10/01/2014
            </td>
        </tr>
        <tr>
            <td colspan="2" style="font-size: x-small;">
                <span style="font-size: x-small; font-weight: bold;">Call Notes:</span>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="font-size: x-small;">
                <textarea id="txtAlerts" rows="6" name="txtAlerts" readonly="readonly" cols="32"></textarea>
            </td>
        </tr>
    </tbody>
</table>*@
