@{
    ViewBag.Title = "Home Page";
}

@{ Response.Redirect("~/Dashboard/Landing");}

<p>&nbsp;</p>
<div class="jumbotron">
    <h1>ScreenPlay - AgentView</h1>
    <p class="lead">Increase Sales, Improve Customer Satisfaction </p>
    <p><a href="~/Dashboard/Landing" class="btn btn-primary btn-lg">Click here to continue &raquo;</a></p>
</div>
